@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: #121212;
  color: #E0E0E0;
  scroll-behavior: smooth;

  /* Hide scrollbar globally */
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE 10+ */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;                /* Chrome, Safari, Opera */
}
